
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contacto@rutasorganicas.com">contacto@rutasorganicas.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+54 11 2222 3333</span></i>
      </div>

      <div class="cta d-none d-md-flex align-items-center">
        <a href="#about" class="scrollto">Empezar</a>
      </div>
    </div>
  </section>
